
/*body{*/
/*    transition: 0.3s;*/
/*    background-image: url(http://localhost:8000/img/bg-page-profile.jpg);*/
/*}*/

body{
    transition: 0.3s;
    background-image: url(http://localhost:8000/img/bg-page-profile.jpg);
}
.main-section{
    background-image: none;
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    padding: 46px 0px;

}

.my-messages .padding-block {
    padding: 30px;
    padding-top: 0;
    width: 100%;
    height: 100%;
}


.center-my-messages-block {
    margin: auto;
    max-width: 920px;
    min-height: 100%;
    background: white;
    padding: 20px;
    position: relative;
}

.section-2 {
    width: 100%;
    height: auto;
    margin-top: 100vh;
    background: white;
    position: absolute;
    bottom: 0;
}


#footer {
    width: 100%;
    height: 46px;
    background-color: #4cda64;
    position: absolute;
    top: -46px;
}


.footer-link {
    display: flex;
    justify-content: center;
    align-items: center;
}

.center-block {
    display: flex;
    max-width: 1024px;
    width: 100%;
    height: 46px;
    margin: auto;
}

.user-header{
    width: 65%;
}

.language-header {
    width: 35%;
}

.content-left-menu{
    width: 46px;
    min-height: 305px;
    position: absolute;
    left: -60px;
}




.my-messages .menu-item{
    position: relative;
    display: block;
    width: 46px;
    height: 46px;
    border: 1px solid #9f9f9f;
    border-radius: 3px;
    margin-top: 15px;
    cursor: pointer;
}

.my-messages .button-icon{
    position: relative;
    display: block;
    width: 46px;
    height: 46px;
}


.my-messages .menu-item.selected{
    border-color: #4cda64;
}
.my-messages .menu-item.selected .button-icon svg{
    fill:#4cda64;
}


.my-messages .button-icon svg{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    width: 24px;
    height: 24px;
    fill: #a0a0a0;
}

.badge{
    position: absolute;
    display: none;
}

.first-child-icon{
    margin-top: 6px!important;
}

.content-right-menu{
    width: 100%;
    min-height: 300px;
}

