.center-login-block{
    margin: auto;
    max-width: 920px;
    height: 100%;
    /*padding: 0 10px;*/
}


.login-page .padding-block{
    padding: 30px;
    padding-top: 81px;
    width: 100%;
    height: 100%;
}


.login-register-container{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

#auth-login{
    position: relative;
    max-width: 560px;
    width: 100%;
    min-height: 320px;
    margin: auto;

    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}


#login-form{
    width: 50%;
    height: 100%;
    padding: 0 11px;

}

#soc-login-block{
    width: 50%;
    height: 100%;
}



.form-title{
    margin: 0 0 16px;
    display: flex;
    align-items: center;
    color: #4cda64;
}
.form-title i{
    font-size: 23px;
    padding: 5px;
    padding-left: 0;
}

.form-title i{
    font-size: 25px;
}


.login-form-input-bl{
    height: 36px;
    border-radius: 4px;
    margin: 0 0 16px;
    position: relative;
}


.login-form-input{
    width: 100%;
    padding: 3px 10px;
    border: 0;
    line-height: 20px;
    background-color: #fff;
    font-size: 13px;
    color: #929292;
    height: 36px;
    border-radius: 5px;
    border: 1px solid;
}

.reset-psw-bl{
    margin-bottom: 10px;
    padding: 2px 0;
}

.reset-psw{
    font-size: 14px;
    color: #1c9a3d;
    text-decoration: none;
}

.login-sbm-btn{
    margin-top: 10px;
    width: 100%;
    height: 35px;
    padding: 8px 15px;
    border: 1px solid #4cda64;
    border-radius: 5px;
    font-size: 13px;
    text-decoration: none;
    cursor: pointer;
    transition: all .2s;
    background: #4cda64;
    color: #fff;
}

.login-sbm-btn:hover {
    background-color: #fff;
    color: #4cda64;
}

.link-register-bl{
    font-size: 11px;
    color: #535353;
    margin-top: 2em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.link-register{
    color: #ff5b5b;
    font-size: 13px;
    text-decoration: none;
}

.sing-in-with{
    text-align: center;
    color: #6b6b6b;
    line-height: 1.3em;
    font-size: 13px;
    margin-bottom: 25px;
    padding-top: 11px;
}


.login-social .button-google {
    color: #fff;
    background-color: #dd4b39;
    border-color: rgba(0,0,0,.2);
}

.login-social .btn-social {
    display: block;
    width: 243px;
    position: relative;
    padding-left: 44px;
    text-align: center;
    margin: 0 auto;
    text-decoration: none;
    border: 1px solid transparent;
    padding: 8px 20px 7px 17px;
    line-height: 1.42857143;
    border-radius: 4px;
}

.login-social .button-facebook {
    color: #fff;
    background-color: #3b5998;
    border-color: rgba(0,0,0,.2);
    margin-top: 15px;
}


.login-social i {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 32px;
    line-height: 34px;
    font-size: 19px;
    text-align: center;
    border-right: 1px solid hsla(0,0%,100%,.4);
}


.change-psw-type{
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 16px;
    right: 9px;
    cursor: pointer;
    color: #b5b2b2;
}

.login-form-input:active,.login-form-input:focus{
    outline: none;
}

.error-border{
    border:1px solid #fd7f7f;
}
