

header {
    position: fixed;
    top: 0;
    width: 100%;
    min-width: 1024px;
    height: 46px;
    background-color: rgba(53,53,53,.7);
    z-index: 10;
}


.center-block {
    display: flex;
    max-width: 1024px;
    width: 100%;
    height: 46px;
    margin: auto;
}

.logo-block {
    width: 11%;
    height: 46px;
    display: block;
}


.header-action {
    width: 85%;
    height: auto;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.left-header-menu-bl {
    width: 76%;
    height: 46px;
    z-index: 1;
    position: relative;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    right: 13px;
}

.right-header-menu-bl {

    width: 24%;
    height: 46px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    color: #fff;
}

.user-header span img{
    width: 40px;
    height: 40px;
}

button.button-new-announcement{
    margin: 0;
    position: relative;
    padding-bottom: 4px;
    padding-top: 4px;
}



.my-classifieds .left-header-menu-bl:hover {
    background: none;
}

button.button-new-announcement:hover{

}

.nav-header-icon {
    position: relative;
    width: 30px;
    height: 23px;
    margin-right: 11px;
}
.nav-header-icon svg{
    position: absolute;
    fill:#929292;
    top: 0;
    width: 23px;
    height: 23px;
}

.logo-block{
    display: flex;
    align-items: center;
    position: relative;
    left: 50px;
}



.logo-block svg{
    width: 94px;
    height: 20px;
    fill: #fff;
}

.user-header-span{
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    height: 33px;
    width: 33px;
    border: 1px solid silver;
}

.main-search form {
    display: flex;
    background: white;
    border-radius: 5px;
    overflow: hidden;
    height: 69%;
    justify-content: space-between;
    width: 70%;
}


.search-field {
    position: relative;
    width: 52%;
}


#search-query {
    width: 100%;
    height: 32px;
    padding: 3px 20px;
    border: 0;
    line-height: 20px;
    color: #7f7f7f;
}

.select-menu {
    cursor: pointer;
}

.select-category, .select-location {
    width: 22%;
}

.select-menu .label {
    width: 148px;
    padding: 0 13px 0 13px;
    line-height: 32px;
    font-size: 13px;
    color: #7f7f7f;
    white-space: nowrap;
    text-overflow: ellipsis;
    position: relative;
    /* display: flex; */
    align-items: center;
    justify-content: space-between;
}

.select-menu {
    cursor: pointer;
}

.select-category, .select-location {
    width: 22%;
}


.select-menu .label {
    width: 148px;
    padding: 0 13px 0 13px;
    line-height: 32px;
    font-size: 13px;
    color: #7f7f7f;
    white-space: nowrap;
    text-overflow: ellipsis;
    position: relative;
    /* display: flex; */
    align-items: center;
    justify-content: space-between;
}


.search-btn {
    width: 7%;
}

.search-btn .search {
    width: 100%;
    height: 100%;
    font-size: 16px;
    background: #4cda64;
    color: white;
    cursor: pointer;
}

.category-results {
    padding: 20px;
    width: 100%;
    min-height: 300px;
    position: relative;
    top: 7px;
    display: none;
    background: white;
    box-shadow: 0 0 7px 0 rgba(0,0,0,.4);
}

.location-results {
    padding: 20px;
    width: 100%;
    min-height: 300px;
    position: relative;
    top: 7px;
    display: none;
    background: white;
    box-shadow: 0 0 7px 0 rgba(0,0,0,.4);
}

.user-header {
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
}

.nav-header-user {
    display: none;
    width: 270px;
    position: absolute;
    min-height: 120px;
    top: 46px;
    right: 0;
    padding: 0;
    background-color: #fff;
    box-shadow: 0 0 7px 0 rgba(0,0,0,.4);
}

.nav-header-user a {
    width: 100%;
    padding: 10px 20px;
    text-decoration: none;
    color: #929292;
    display: flex;
    align-items: center;
}

.language-header > .switch-lang-link {
    position: relative;
    float: left;
    height: 46px;
    line-height: 44px;
    padding: 2px 15px 0;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
}








