

header {
    position: fixed;
    top: 0;
    width: 100%;
    min-width: 1024px;
    height: 46px;
    background-color: rgba(53,53,53,.7);
    z-index: 10;
}


.center-block {
    display: flex;
    max-width: 1024px;
    width: 100%;
    height: 46px;
    margin: auto;
}

.logo-block {
    width: 11%;
    height: 46px;
    display: block;
}


.header-action {
    width: 85%;
    height: auto;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.left-header-menu-bl {
    width: 76%;
    height: 46px;
    z-index: 1;
    position: relative;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    right: 13px;
}

.right-header-menu-bl {

    width: 24%;
    height: 46px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    color: #fff;
}

.user-header span img{
    width: 40px;
    height: 40px;
}

button.button-new-announcement{
    margin: 0;
    position: relative;
    padding-bottom: 4px;
    padding-top: 4px;
}



.my-classifieds .left-header-menu-bl:hover {
    background: none;
}

button.button-new-announcement:hover{

}

.nav-header-icon {
    position: relative;
    width: 30px;
    height: 23px;
    margin-right: 11px;
}
.nav-header-icon svg{
    position: absolute;
    fill:#929292;
    top: 0;
    width: 23px;
    height: 23px;
}

.logo-block{
    display: flex;
    align-items: center;
    position: relative;
    left: 50px;
}



.logo-block svg{
    width: 94px;
    height: 20px;
    fill: #fff;
}

.user-header-span{
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    height: 33px;
    width: 33px;
    border: 1px solid silver;
}

