
body{
    transition: 0.3s;
    background-image: url(http://localhost:8000/img/bg-page-profile.jpg);
}
.main-section{
    background-image: none;
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    padding: 46px 0px;

}

.my-classifieds .padding-block {
    padding: 30px;
    padding-top: 0;
    width: 100%;
    height: 100%;
}


.center-my-classifieds-block {
    margin: auto;
    max-width: 920px;
    min-height: 340px;
    /* padding: 0 10px; */
    background: white;
    padding: 20px;
    position: relative;
}

.section-2 {
    width: 100%;
    height: auto;
    margin-top: 100vh;
    background: white;
    position: absolute;
    bottom: 0;
}


#footer {
    width: 100%;
    height: 46px;
    background-color: #4cda64;
    position: absolute;
    top: -46px;
}


.footer-link {
    display: flex;
    justify-content: center;
    align-items: center;
}

.center-block {
    display: flex;
    max-width: 1024px;
    width: 100%;
    height: 46px;
    margin: auto;
}

.user-header{
    width: 65%;
}

.language-header {
    width: 35%;
}

.content-left-menu{
    width: 46px;
    min-height: 305px;
    position: absolute;
    left: -60px;
}




.my-classifieds .menu-item{
    position: relative;
    display: block;
    width: 46px;
    height: 46px;
    border: 1px solid #9f9f9f;
    border-radius: 3px;
    margin-top: 15px;
    cursor: pointer;
}

.my-classifieds .button-icon{
    position: relative;
    display: block;
    width: 46px;
    height: 46px;
}


.my-classifieds .menu-item.selected{
    border-color: #4cda64;
}
.my-classifieds .menu-item.selected .button-icon svg{
    fill:#4cda64;
}


.my-classifieds .button-icon svg{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    width: 24px;
    height: 24px;
    fill: #a0a0a0;
}

.badge{
    position: absolute;
    display: none;
}

.first-child-icon{
    margin-top: 6px!important;
}

.content-right-menu{
    width: 100%;
    min-height: 300px;
}


.content-right-header{
    min-height: 88px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.content-right-body{
    min-height: 105px;
    width: 100%;
    margin-top: 10px;
}

.content-right-footer{
    min-height: 72px;
    width: 100%;
    margin-top: 20px;
}
.content-right-footer div{
    text-align: center;
    font-size: 15px;
    color: #929292;
}


/*---------------------------*/

.content-right-header-left-bl{
    width: 50%;
    min-height: 88px;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.content-right-header-right-bl{
    width: 50%;
    min-height: 88px;
    display: flex;
    justify-content: flex-end;
}


.budget-info-block{
    background-color: #f4f4f4;
    margin-left: 10px;
    display: flex;
    max-width: 300px;
    max-height: 35px;
    display: flex;
    justify-content: space-between;
}

.add-balance-block a{
    background: #4cda64;
    color: #fff;
    border-color: #4cda64;
    height: 35px;
    letter-spacing: 1px;
    padding: 10px 15px 10px;
    display: inline-block;
    border-radius: 5px;
    font-size: 13px;
    text-decoration: none;
    cursor: pointer;
    transition: all .2s;
    border: 1px solid #4cda64;
}

.my-balance{
    padding: 3px 0 2px;
}

.balance-info{
    font-size: 13px;
    color: #535353;
    display: flex;
}


.balance-info .money {
    padding: 5px 10px 5px;
}

.balance-info .label {
    padding: 7px 10px;
    font-size: 15px;
}

.money-count{
    font-size: 19px;
    font-weight: bold;
}

.money-currency{
    font-size: 12px;
    position: relative;
    top: -8px;
    font-weight: bold;
}

.add-balance-button:hover{
    background-color: #fff;
    color: #4cda64;
}

.profile-photo .choose-photo-block {
    position: absolute;
    top: -21px;
    right: 18px;
    z-index: 1;
    width: 38px;
    height: 38px;
    border: 1px solid #d5d5d5;
    border-radius: 19px;
    background-color: #fff;
}

.profile-photo .choose-photo-block input {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    background-color: #fff;
    z-index: 2;
    cursor: pointer;
}

.icon.pencil {
    width: 19px;
    height: 20px;
    background-image: url(https://obyava.ua/images/icon-pencil.png);
    left: 0;
    top: 0;
    position: absolute;
    margin: auto;
    display: block;
    right: 0;
    bottom: 0;
}

#profile-photo-block {
    position: relative;
    max-width: 90px;
}


#profile-photo-block .image {
    position: relative;
    width: 68px;
    height: 68px;
    border-radius: 34px;
    background-position: 50%;
    background-size: cover;
}


#profile-photo{
    position: relative;
    width: 100px;
}

/*.profile-info{*/
/*    margin-top: 30px!important;*/
/*}*/


.profile-info .name {
    font-size: 19px;
    line-height: 1.2em;
    color: #535353;
}

.profile-info .registered-at {
    margin: 5px 0;
    font-size: 11px;
    line-height: 1.2em;
    color: #535353;
}

.profile-info .link {
    font-size: 14px;
    color: #1c9a3d;
    text-decoration: none;
}


/*#profile-photo-block .image:hover{*/
/*    box-shadow: inset 0 0 55px 40px #4cda64;*/
/*}*/

.delete-profile-photo{
    display: none;
    font-size: 20px;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 14px;
    height: 17px;
    color: #FFF;
    cursor: pointer;
}


.user-service-buttons_bl{
    position: relative;
    width: 100%;
    min-height: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}


.user-service-active-classifieds{
    width: 50%;
    min-height: 50px;
}

.user-service-buttons-business{
    width: 40%;
    min-height: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 322px;
}

.classifieds-counter{
    padding: 10px;
    font-size: 15px;
    font-weight: bold;
    color: #535353;
    background: #f4f4f4;
    max-width: 200px;
}

.service-business-button-bl-1 svg,.service-business-button-bl-2 svg{
    width: 24px;
    height: 24px;
    fill: #4cda64;
    transition: 0.1s!important;
}

.service-business-button-bl-1 a .icon-block,.service-business-button-bl-2 a .icon-block{
    position: absolute;
    top: 0;
    left: 7px;
    bottom: 0;
    margin: auto;
    height: 24px;
}



.service-business-button-bl-1 a,.service-business-button-bl-2 a{
    color: #4cda64;
    background-color: #fff;
    display: block;
    height: 35px;
    letter-spacing: 1px;
    padding: 11px 15px 10px;
    padding-left: 45px!important;
    position: relative;
    border: 1px solid  #4cda64;
    border-radius: 5px;
    font-size: 14px;
    text-decoration: none;
    cursor: pointer;
    transition: all .2s;
}

.service-business-button-bl-1,.service-business-button-bl-2{
    width: 50%;
    min-height: 50px;
    max-width: 156px;
}



.service-business-button-bl-2{
    max-width: 138px;
}

.service-business-button-bl-1 .time,.service-business-button-bl-2 .time{
    font-size: 13px;
    color: #ababab;
    margin: 5px 0;
    padding: 5px 0 0;
    text-align: right;
}


.service-business-button-bl-1 a:hover svg{
    fill:white;
}

.service-business-button-bl-1 a:hover{
    color:white;
    background: #4cda64;
}

.service-business-button-bl-2 a:hover svg{
    fill:white;
}

.service-business-button-bl-2 a:hover{
    color:white;
    background: #4cda64;
}
